# Important Requirements here.

#https://github.com/New-dev0/Telethon/archive/platy.zip
https://github.com/buddhhu/Telethon-Patch/archive/refs/heads/main.zip
python-decouple
python-dotenv
py-Ultroid==2022.6.6
psycopg2
git
